@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/rfs/scss.scss";


* {
    font-family: 'Nunito', sans-serif;
}

main {
   

}

h1 {
    @include font-size(4rem);
}

aside {
    background-color: #D2E6F8;
    width: 20vw;
        .logo-aside {
            border-bottom: 4px solid #b8dff8;
            img {
                width: 50px;
            }
        }
}

.logo-complete {

    img {
        width: 150px;
    }
}

main {
    .main-section {
        .main-container {
            width: calc(100% - 20vw);
                .main-header {
                    .btn-logout{
                        color: #7f7f7f;
                        font-weight: bolder;
                        border-radius: 20px;
                            .user-logo{
                                width: 25px;
                                margin-left: 5px;
                            }
                    }

                    .btn-logout:hover {
                        -webkit-box-shadow: -1px 7px 16px 2px rgba(0,0,0,0.29); 
                        box-shadow: -1px 7px 16px 2px rgba(0,0,0,0.29);
                    }
                }
        }
    }
}