//LOGIN-PAGE

main {
    height: 100vh;

    .main-section {
        height: 100%;

        .main-container-register {
            width: 100%;
            height: 100%;
            

            .main-main-register{
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                background-image: url(../img/img_login.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                
                

                .card-register{
                    margin-top: 250px;
                    height: 540px;
                    width: 520px;
                    border-radius: 15px;
                    background-color: #80c0ea79;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    form{
                        color: #C4C3C4;

                        h2{
                            margin-bottom: 30px;
                        }
                        
                        div{
                            margin-bottom: 30px;

                            label{

                            }

                            input{
                                border-radius: 10px;
                                border: none;
                                margin-left: 8px;
                            }
                        }

                        .register-button{
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            button{
                                border-radius: 22px;
                                border: none;
                                padding: 7px 30px;
                                margin-left: 5px;
                                margin-bottom: 10px;
                                
                            }

                            a{
                                text-decoration: none;
                                color: #AFAFAF;
                                
                            }

                            a:hover{
                                color: white;
                            }

                        }
                    }
                }
            }

            
        }
    }
}